# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local env files
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
/prisma/migrations/
/prisma/*.db

# Logs
logs
*.log
*.mp4
*.mov
*.avi
*.mkv
*.webm

# Electron
dist-electron/

# ADB platform-tools (local machine only)
/scripts/platform-tools/
/scripts/scrcpy/
"MYT_RPA_SDK_v8.0_20241109/" 
